
header{
    background-color: #164773;
    position: fixed;
    height: 77.6px;
}
.logo{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

body{
    background-color: #0B2B40;
    margin: 0px;
    overflow: auto;
}

.cabeca{
    display: flex;
    padding: 20px;
}
a{
   
}
label{
    color: white;
    font-size: 20px;
}
.buscar{
    padding-top: 7px;
    padding-left: 400px;

}
input{
    width: 300px;
    border-radius: 20px;
    margin-left: 5px;
    padding: 5px;
}
.linkb{
    font-size: 20px;
    padding-left: 300px;
    padding-top: 10px;
    
}
#nomecar{
    margin-right: 39.5px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    
}
#nomecar:hover{
    transition: 0.5s;
    transform: rotate(5deg);
    display: inline-block;
    padding-top: 0px;
}
#nomeper:hover{
    transition: 0.5s;
    transform: rotate(5deg);
    display: inline-block;
    padding-top: 0px;
}
#nomeper{
    color: white;
    padding: 5px 12px;
    font-family: 'Staatliches', cursive;
    text-decoration: none; 
}

a:hover{
    color: #0B2B40;   
}
.imgbarras{
    width: 30px;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navp{
    padding-top: 77.6px;
    background-color: white;
}
.nomecateg{
    position: relative;
    bottom: 17px;
    padding-right: 100px;
    text-decoration: none;
    color: #0B2B40;
    font-size: 18px;
    font-family: 'Staatliches', cursive;
    
}
.categs{
    position: relative;
    bottom: 17px;
    padding-right: 85px;
    text-decoration: none;
    color: #0B2B40;
    font-size: 16px;
    font-family: 'Staatliches', cursive;
}
.categs:hover{
    color: #164773;
}
.nomecateg:hover{
    color: #164773;
}



